h2.creepy Dev Quest
p Your 
	a(class="tip")
		span(class="tip-hover") quest
		span(class="tip-content")
			img(src="https://media.giphy.com/media/Lq2OE4LOnrvTq/giphy.gif")
	|  is to battle one or more of the following terrible beasts:
ul
	li 
		| Add the ability to <strong>update &amp; save</strong> details from the single Booking / single Lead pages
		span(class="badge alert-info") Front
	li 
		| On the Location details page, <strong>link to associated</strong> Leads and Bookings
		span(class="badge alert-info") Front
	li 
		| Implement <strong>paging</strong> on Bookings and Leads list views 
		small - BONUS: Infinite scroll
		span(class="badge alert-info") Front
	li 
		| On the list of bookings, add the ability to <strong>filter</strong> by start date, status, and number of guests
		span(class="badge alert-info") Front
		span(class="badge alert-success") Back
	li 
		| Create a <strong>dashboard</strong> with useful (to the Event Planner users) information
		span(class="badge alert-info") Front
		span(class="badge alert-success") Back
	li 
		| Create a <strong>form</strong> for each location&rsquo;s customers to submit a request for a booking (aka a Lead)
		span(class="badge alert-info") Front
		span(class="badge alert-success") Back
	li 
		| Add the ability to <strong>convert</strong> a Lead into a Booking
		span(class="badge alert-info") Front
		span(class="badge alert-success") Back
	li 
		| Develop <strong>automated tests</strong> for API requests
		span(class="badge alert-success") Back

p This application represents an extremely pared down version of the Gather venue app. It uses:
ul
	li ES6/Babel
	li NPM/Gulp/LiveReload
	li AngularJS
	li Jasmine
	li Jade templates
	li Stylus stylesheets
	li 
		a(href="https://github.com/typicode/json-server" target="_blank") JSON Server
		|  with LowDB database
	li 
		a(href="https://angular-ui.github.io/bootstrap/" target="_blank") Angular UI Bootstrap