h2.creepy Dev Quest
p Your QUEST is to fulfill one or more of the following challenges:
ul
	li Create a Lead Detail page wherein a user can view a specific Lead's data and the associated Location
		br
		small BONUS: Add the ability to update a lead's details from that screen
	li Update the Booking API endpoint to include its Location's data when a booking's data is requested
		br
		small BONUS: From the Booking page, link to the Location's details page
	li Implement paging on Bookings and Leads
		br
		small BONUS: Infinite scroll!

p This application represents an extremely pared down version of the Gather venue app. It uses:
ul
	li ES6/Babel
	li NPM/Gulp/LiveReload
	li AngularJS
	li Jade templates
	li Stylus stylesheets
	li 
		a(href="https://github.com/typicode/json-server" target="_blank") JSON Server
		| with LowDB database