h2.creepy Dev Quest
p Your QUEST is to fulfill one or more of the following challenges:
ul
	li Create a Lead Detail page wherein a user can view a specific Lead's data
		br
		small BONUS: Add the ability to update a lead from the detail screen
	li Update the Booking API endpoint to include its Location's data when a booking's data is requested
		br
		small BONUS: From the Booking page, link to the Location's details page

p This application represents an extremely pared down version of the Gather venue app. It uses:
ul
	li ES6
	li AngularJS
	li Jade templates
	li Stylus stylesheets
	li Gulp
	li NPM
	li LiveReload