doctype html
html(lang='en' data-ng-app='devQuest')
  head
    title devQuest
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    link(rel="shortcut icon" href="/images/favicon.ico")
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
  body

    .navbar.navbar-inverse(role='navigation')
      .container
        .navbar-right
          img.hidden-xs(src="/images/gather-white.svg" width="160" style="margin-top: 6px;")
        .navbar-header
          button.navbar-toggle.collapsed(type='button' data-ng-init='navCollapsed = true' data-ng-click='navCollapsed = !navCollapsed')
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') devQuest
        .navbar-collapse.collapse(collapse='navCollapsed')
          ul.nav.navbar-nav
            li(data-ui-sref-active='active')
              a(data-ui-sref='home') Home
            li(data-ui-sref-active='active')
              a(data-ui-sref='bookings') Bookings
            li(data-ui-sref-active='active')
              a(data-ui-sref='leads') Leads
            li(data-ui-sref-active='active')
              a(data-ui-sref='locations') Locations

    .container
      div(data-ui-view)

    |<!-- bower:js -->
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->
