h2 Bookings
div(infinite-scroll="bookings.getBookings()" infinite-scroll-distance="1" infinite-scroll-disabled="bookings.busy")
	div(ng-repeat="booking in bookings.data")
		a(data-ui-sref="booking({ id: booking.id })")
			div(class="pull-right" ng-bind="booking.start | moment: 'MMMM D, YYYY'")
			h3
				span(ng-bind="booking.name")
				span(class="badge color-{{booking.status}}"
					ng-bind="booking.status")