div.header
  ul.nav.nav-pills.pull-right
    li.active
      a(ng-href="#") Home
    li
      a(ng-href="/bookings") Bookings
    li
      a(ng-href="/leads") Leads
  h3.text-muted dev assessment

div.jumbotron
  h1 
    img(src="images/gather-logo.svg" class="logo" alt="Gather Logo")
    | Mini
  p.lead
    | Get a taste of what we do &amp; how we do it.

div.row.marketing
  h4 HTML5 Boilerplate
  p HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.

  h4 Bootstrap
  p Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.

  h4 Angular
  p AngularJS is a toolset for building the framework most suited to your application development.

  h4 Jade
  p Jade is a terse language for writing HTML templates.

  h4 Stylus
  p Expressive, dynamic, robust CSS.

  h4 Karma
  p Spectacular Test Runner for JavaScript.

div.footer
  p
    span.glyphicon.glyphicon-heart
    |  from the Gather team